.HomePageContent {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.titleFont {
    font-family: "Archivo Black", serif;
}

.headingFont {
    font-family: "Raleway", serif;
    text-decoration: underline;
}