.sideBarContainer {
    height: 100vh;
    border-right: 0px solid black;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}

.profilePicture {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;  
}

.itemList {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.listItem {
    width: fit-content;
    color: var(--text-color);
    font-size: larger;
    font-family: 'Archivo Black', serif;
    margin-bottom: 10px; /* Add spacing between list items */
}

a:hover {
    text-decoration: none;
    background-color: white;
};