.contianer {
    display: flex;
    flex-direction: column;
}

.ProfilePicture {
    margin: 20px;
    padding: 20px;
    display: flex;
};

.ProfileName {
    font-size: 24px;
}

.listItems {
    display: flex;
    width: 100%;
}